@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;

}


@keyframes textShimmer {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-textShimmer {
  background-size: 200% auto;
  animation: textShimmer 4s ease-in-out infinite;
}
